<div>
    <span id="index_title" class="index_title">{{index_title}}<span class="index_title_vtr">{{index_titlevtr}}</span></span>
    <span id="index_description" class="index_description">{{index_description}}</span>
    <span class="index_intruction">{{index_intruction}}</span>
</div>

<div>

    <div id="index_repair" class="index_box" ng-click="gotoRepair()">

        <div id="" class="index_repairEnableHead   index_boxClicked">
            <span class="index_titlestep1">{{index_titlestep1}}</span>
            <br>
            <span class="index_titlerepair">{{index_titlerepair}}</span>
        </div>

        <div id="" class="index_Content index_boxClicked index_repairEnable">
            <span class="index_repairdescription">{{index_repairdescription}}</span>
        </div>

    </div>

    <div id="" ng-class="channelClass" class="index_box" ng-click="gotoChannel()">

        <div id="" ng-class="channelClassHead">
            <span class="index_titlestep2">{{index_titlestep2}}</span>
            <br>
            <span class="index_titlechannel">{{index_titlechannel}}</span>
        </div>

        <div id="" ng-class="channelClassContent">
            <span class="index_repairdescription">{{index_channeldescription}}</span>
        </div>

    </div>

    <div id="" ng-class="intrudersClass" ng-click="gotoIntruders()">

        <div id="" ng-class="intrudersClassHead">
            <span class="index_titlestep3">{{index_titlestep3}}</span>
            <br>
            <span class="index_titleintruders">{{index_titleintruders}}</span>
        </div>

        <div id="" ng-class="intrudersClassContent">
            <span class="index_repairdescription">{{index_intrudersdescription}}</span>
        </div>

    </div>

    <div id="" ng-class="speedtestClass" ng-click="gotoSpeedtest()">

        <div id="" ng-class="speedtestClassHead">
            <span class="index_titlestep4">{{index_titlestep4}}</span>
            <br>
            <span class="index_titlespeedtest">{{index_titlespeedtest}}</span>
        </div>

        <div id="" ng-class="speedtestClassContent">
            <span class="index_speedtestdescription">{{index_speedtestdescription}}</span>
        </div>

    </div>

    <div id="" ng-class="chatClass" ng-click="gotoChat()">

        <div id="" ng-class="chatClassHead">
            <span class="index_titlestep5">{{index_titlestep5}}</span>
            <br>
            <span class="index_titlechat">{{index_titlechat}}</span>
        </div>

        <div id="" ng-class="chatClassContent">
            <span class="index_chatdescription">{{index_chatdescription}}</span>
            <img src="assets/img/chatBordeVerde.png" width="55" height="35" />
        </div>

    </div>

</div>
